{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/base/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base/estilos.css' %}" rel="stylesheet">
    <script src="{% static 'js/base/bootstrap.bundle.min.js' %}"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <title>{% block titulo %}Login Usuario{% endblock %}</title>
    <style>
        .esp{
            font-weight: 900;
            background: linear-gradient(90deg,rgb(255,0,0),rgb(255,255,0),rgb(255,0,0));
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .esp::selection{
            background: rgba(0, 0, 0, 0.29);
        }
    </style>
</head>

<body>
    <!-- Barra de navegacion -->
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <!-- Logo o Título -->
                <a class="navbar-brand" href="{% url 'inicio' %}">Perros</a>
                <!-- Botón de Login alineado a la derecha -->
                <div class="d-flex">
                    {% if user.is_authenticated %}
                        <p class="navbar-text pe-3">{{ user.username }}</p>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button class="btn btn-primary" type="submit">logout</button>
                        </form>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-primary me-2">Login</a>
                        <a href="#" class="btn btn-success">Crear Usuario</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
    <!-- Contenido principal -->
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <h5 class="display-5 text-center esp">Paseos Perros</h5>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 text-center mt-4">
                {% block contenido %} <p>Gestion Adopcion de perros</p> {% endblock %}

            </div>
            <div class="col-3"></div>
        </div>
    </div>
</body>
