{% extends "base/base.html" %}

{% block contenido %}
    <h1>Bienvenido a la tienda</h1>
    <button id="checkout-button">Pagar Paseo de 1 hora</button>

    <script>
        var stripe = Stripe("pk_test_51R9i69P9gnNCWYvBjXxmTZwJwbLCLEFOHnrZnX4r9EWN1CTvgDJuKXLcradThwuXG6YcB2z55bZa9wAInEs10yzk0073Vfiatr");

        document.getElementById("checkout-button").addEventListener("click", function () {
            fetch("{% url 'checkout' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}",
                },
            })
            .then(response => response.json())
            .then(data => {
                return stripe.redirectToCheckout({ sessionId: data.id });
            })
            .then(result => {
                if (result.error) {
                    alert(result.error.message);
                }
            });
        });
    </script>
{% endblock %}
