<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <h1>Bienvenido a la tienda</h1>
    <button id="checkout-button">Pagar Paseo de 1 hora</button>

    <script>
        var stripe = Stripe("{{ stripe_public_key }}");

        document.getElementById("checkout-button").addEventListener("click", function () {
            fetch("{% url 'checkout' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}",
                },
            })
            .then(response => response.json())
            .then(data => {
                return stripe.redirectToCheckout({ sessionId: data.id });
            })
            .then(result => {
                if (result.error) {
                    alert(result.error.message);
                }
            });
        });
    </script>
</body>
</html>
